* {
  margin: 0;
  padding: 0;
}

.back {
  background-color: #ffffff;
  opacity: 0.8;
  background-image: linear-gradient(135deg, #fff0bd 25%, transparent 25%),
    linear-gradient(225deg, #fff0bd 25%, transparent 25%),
    linear-gradient(45deg, #fff0bd 25%, transparent 25%),
    linear-gradient(315deg, #fff0bd 25%, #ffffff 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 10px 10px;
  background-repeat: repeat;

  height: 100vh;
}
.header {
  font-size: 30px;
  text-align: center;
  padding: 10px;
  font-family: cursive;
  color: black;
}
.todo-container {
  background: white;
  border-radius: 3%;
  box-shadow: -11px 15px 21px -6px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: -11px 15px 21px -6px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: -11px 15px 21px -6px rgba(0, 0, 0, 0.55);
  border: rgb(255, 94, 0) solid 3px;
  width: 20%;
  height: 60%;
  padding: 2rem;
  margin: 2rem auto;
  overflow-y: auto;
}

.input-todo {
  width: 70%;
  border: none;
  border-bottom: rgb(255, 8, 0) dotted;
}
.input-todo:focus,
.input-todo:hover {
  outline: none;
  width: 70%;
  border: none;
  border-bottom: rgb(255, 8, 0) dotted;
}

.list {
  margin: 20px 10px;
  padding: 4px;
  word-wrap: break-word;
}

.add-button {
  border: orangered solid 1px;
  background: #fdc04de3;
  border-radius: 60px;
  padding: 0px 5px;
}

.add-button:hover {
  background: #fcfc3c;
  text-decoration: none;
}
